$app-min-width: 20rem;
$app-max-width: 60rem;

@import 'animations';
@import 'font';
@import 'scroll';
@import 'themes';

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	@apply outline-white;
}

::selection {
	background-color: var(--white) !important;
	color: var(--black) !important;
}

img::selection {
	background-color: var(--white) !important;
	color: var(--black) !important;
}

html,
body {
	@include std-font-props;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	@media screen and (min-width: 30rem) {
		font-size: 22px;
	}
}

body {
	@extend .fancy-scrollbar;
	@extend .opacity-fadein;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
		env(safe-area-inset-left);
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

main,
.dialog {
	min-width: $app-min-width !important;
	max-width: $app-max-width !important;
}

svg,
img {
	width: 1.5rem;
	max-width: 100%;
	height: auto;
}

ul {
	@apply list-none;
	line-height: 1.5;

	li::before {
		content: 'ãƒ»';
	}
}

.glowing-hover {
	@extend .std-hover;
	@extend .pressable;

	&:hover {
		-webkit-backdrop-filter: blur(1rem);
		backdrop-filter: blur(1rem);
		box-shadow: 0 4px 16px 0 rgba(100, 100, 100, 0.5);
	}
}

.card {
	@apply border-1 border-solid rounded-lg bg-primary md:max-w-24rem w-full h-min;
	@extend .glowing-hover;
	border-color: rgba(255, 255, 255, 0.3);
}
